body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #001F29;
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    margin-top: 24px;
    margin-left: -12px;
}

.header {
    color: #0089B6;
    background-color: #001F29;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        color: #fff;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }

    .header img {
        float: left;
        margin: 0 10px 5px 0;
    }
