<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.31.4" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.31.12" targetFramework="net452" />
  <package id="C1.C1Excel" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.C1Pdf" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.C1Word" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.DataEngine" version="5.0.20232.306" targetFramework="net452" />
  <package id="C1.PivotEngine" version="5.0.20232.306" targetFramework="net452" />
  <package id="C1.Web.Api" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.BarCode" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.Cloud" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.DataEngine" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.Document" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.Excel" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.Image" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.Pdf" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Web.Api.Report" version="4.8.20241.340" targetFramework="net48" />
  <package id="C1.Win" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.BarCode" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.Bitmap" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.C1Chart" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.Win.C1Document" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.Win.C1DX" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.Win.FlexChart" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.FlexChart.Extended" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.FlexReport" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.FlexReport.CustomFields" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.ImportServices" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Zip" version="2.0.20233.4" targetFramework="net48" />
  <package id="DS.Documents.Barcode" version="7.1.1" targetFramework="net48" />
  <package id="DS.Documents.DX.Windows" version="7.1.1" targetFramework="net48" />
  <package id="DS.Documents.Excel" version="7.1.1" targetFramework="net48" />
  <package id="DS.Documents.Imaging" version="7.1.1" targetFramework="net48" />
  <package id="DS.Documents.Imaging.Windows" version="7.1.1" targetFramework="net48" />
  <package id="DS.Documents.Pdf" version="7.1.1" targetFramework="net48" />
  <package id="DS.Documents.Word" version="7.1.1" targetFramework="net48" />  
  <package id="Dropbox.Api" version="4.9.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="Google.Apis" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Drive.v3" version="1.25.0.862" targetFramework="net452" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net452" />
  <package id="Microsoft.AnalysisServices.AdomdClient.retail.amd64" version="19.22.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="PhantomJS" version="2.0.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.45.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net45" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net452" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.114.3" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.114.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net45" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net45" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net45" />
</packages>
